<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="http://localhost/afer-back/">
    <link rel="shortcut icon" href="assets/media/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/media/images/favicon.ico" type="image/x-icon">
    <title>AFER - Erreur 404</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="login" >
    <div class="content">
        <div class="card">
            <div class="card-header">
                <p class="card-header--logo" ><img src="assets/media/images/logo.png" alt="Logo de l'association Franc-Comtoise d'éducation routière"></p>
            </div>
            
            <p class="msg-404 fas fa-exclamation-triangle"> Erreur 404 - la page demandée n'existe pas !!</p>
            <div class="msg-link-content">
                <div class="msg-link-direction">
                <a href="/afer-back" class="msg-link-click" ><p class="msg-link-para fas fa-sign-in-alt" ></p>
                <p class="msg-link-para" >Login</p></a>
                </div>
                <div class="msg-link-direction">
                <a href="dashboard/view" class="msg-link-click" ><p class="msg-link-para fas fa-cog" ></p>
                <p class="msg-link-para" >Dashboard</p></a>
                </div>
            </div>
                
        </div>    
    </div>
</body>
</html>