{% extends 'template.html.twig' %}

  {% block content %} 
        <article class="larg">
            <h1>Votre profile</h1>
            <form action="user/edit{{ user.fullName }}
        </article>
  {% endblock %}

