{% extends "template.html.twig" %}

{% block content %}

    <h1>Éditer fonction animateur : {{ list.fonction_nom }}</h1>
    <form method="post">
        <label for="fonction_nom">Nom de la fonction</label>
        <input type="text" name="fonction_nom" value="{{ list.fonction_nom }}">
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}