{% extends 'template.html.twig' %}

{% block content %}

	

<h1 class="list-title">Liste des autorités (prefecture)</h1>
<div class="container-new-button">
<a href="autoriteprefecture/new"><button>Nouveau</button></a>

<ul>
    {% for elems in list %}
        <li>{{ elems.autorite_nom }}  <a href="autoriteprefecture/edit/{{ elems.id }}"><button>Modifier</button></a>
                                    <a href="autoriteprefecture/delete/{{ elems.id }}"><button>Supprimer</button></a>
        </li>
    {% endfor %}
</ul>

<a href="autoriteprefecture/new"><button>Nouveau</button></a>

{% endblock %}