{% extends 'template.html.twig' %}

{% block content %}

	

<h1>Liste des forfaits</h1>

<a href="forfaitanimateur/new"><button>Nouveau</button></a>

<ul>
    {% for elems in list %}
        <li>{{ elems.forfait_prix }} € <a href="forfaitanimateur/edit/{{ elems.id }}"><button>Modifier</button></a>
                                    <a href="forfaitanimateur/delete/{{ elems.id }}"><button>Supprimer</button></a>
        </li>
    {% endfor %}
</ul>

<a href="forfaitanimateur/new"><button>Nouveau</button></a>

{% endblock %}