{% extends 'template.html.twig' %}

{% block content %}

	

<h1>Liste des préfectures</h1>

<a href="prefecture/new"><button>Nouveau</button></a>

<ul>
    {% for elems in list %}
        <li>{{ elems.prefecture_nom }}  <a href="prefecture/edit/{{ elems.id }}"><button>Modifier</button></a>
                                    <a href="prefecture/delete/{{ elems.id }}"><button>Supprimer</button></a>
        </li>
    {% endfor %}
</ul>

<a href="prefecture/new"><button>Nouveau</button></a>

{% endblock %}