{% extends 'template.html.twig' %} {% block content %}



<h1>Liste des fonctions (Animateurs)</h1>


<table class="tbl-list">
    <thead>
        <tr>
            <th class="tbl-col-header">Fonction</th>
            <th class="tbl-col-header">Action</th>
        </tr>
        <tr class="tbl-row-search">
            <td class="tbl-col-search">
                <input type="text" class="form-input" id="fonction" placeholder="Rechercher par fonction">
            </td>
            <td class="tbl-col-search">
                <input type="text" disabled class="form-input">
            </td>
        </tr>
    </thead>
    <tbody>
        {% for elmt in list %}

        <tr class="tbl-row-list ligne">
            <td class="tbl-col-list capitalize fonction">{{elmt.fonction_nom|raw }}</td>
            <td class="tbl-col-list ">                
                <a href="fonctionanimateur/edit/{{elmt.id }}" class="tbl-link-edit"></a>
                <a href="fonctionanimateur/delete/{{elmt.id }}" class="tbl-link-delete" data-value="{{ elmt.fonction_nom }}"></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
<a href="fonctionanimateur/new" class="btn-link">Ajouter</a>


<div class="boxOverlay hidden ">
    <div class="modal modal-yesNo fas fa-exclamation-triangle">
        <p class="modal-message">Êtes-vous sûre de vouloir supprimmer la fonction :
            <span class="capitalize modal-message--value"></span>
        </p>
        <button type="button" data-link="" onclick="deleteUser()" class="modal-btn form-login-button modal-btn--inline modal-btn-yes">Oui</button>
        <button type="button" class="modal-btn form-login-button modal-btn--inline modal-btn-no"> Non</button>
    </div>
</div>

{% endblock %} {% block javascript %}
<script src="assets/js/app.js"></script>
<script src="assets/js/yo.js"></script>
{% endblock %}