{% extends 'template.html.twig' %}

{% block content %}

	

<h1>Liste des natures (prefecture)</h1>

<a href="natureprefecture/new"><button>Nouveau</button></a>

<ul>
    {% for elems in list %}
        <li>{{ elems.nature_nom }}  <a href="natureprefecture/edit/{{ elems.id }}"><button>Modifier</button></a>
                                    <a href="natureprefecture/delete/{{ elems.id }}"><button>Supprimer</button></a>
        </li>
    {% endfor %}
</ul>

<a href="natureprefecture/new"><button>Nouveau</button></a>

{% endblock %}