{% extends 'template.html.twig' %}

{% block content %}

	

<h1>Liste des cas</h1>

<a href="casstage/new"><button>Nouveau</button></a>

<ul>
    {% for elems in list %}
        <li>{{ elems.cas_nom }} {{ elems.cas_description }}  <a href="casstage/edit/{{ elems.id }}"><button>Modifier</button></a>
                                    <a href="casstage/delete/{{ elems.id }}"><button>Supprimer</button></a>
        </li>
    {% endfor %}
</ul>

<a href="casstage/new"><button>Nouveau</button></a>

{% endblock %}