{% extends 'template.html.twig' %}

{% block content %}

	

<h1>Liste des services (préfecture)</h1>

<a href="serviceprefecture/new"><button>Nouveau</button></a>

<ul>
    {% for elems in list %}
        <li>{{ elems.service_nom }}  <a href="serviceprefecture/edit/{{ elems.id }}"><button>Modifier</button></a>
                                    <a href="serviceprefecture/delete/{{ elems.id }}"><button>Supprimer</button></a>
        </li>
    {% endfor %}
</ul>

<a href="serviceprefecture/new"><button>Nouveau</button></a>

{% endblock %}