{% extends 'template.html.twig' %}

{% block content %}

	

<h1>Liste des modes d'envoi (convocations)</h1>

<a href="modeenvoiconvocation/new"><button>Nouveau</button></a>

<ul>
    {% for elems in list %}
        <li>{{ elems.mode }} <a href="modeenvoiconvocation/edit/{{ elems.id }}"><button>Modifier</button></a>
                            <a href="modeenvoiconvocation/delete/{{ elems.id }}"><button>Supprimer</button></a>
        </li>
    {% endfor %}
</ul>

<a href="modeenvoiconvocation/new"><button>Nouveau</button></a>

{% endblock %}