<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="http://localhost/afer-back/">
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/manu.css">
</head>
<body class="login" >
    <div class="content">
        <form action="" class="form-login" method="post" >
            <div class="form-login-group">
                <input type="text" class="form-login-input" placeholder="Identifiant" name="identifiant" />
            </div>
            <div class="form-login-group">
                <input type="text" class="form-login-input" placeholder="Mot de passe" />
            </div>
            <div class="form-login-group">
                <button class="form-login-button" >Connexion</button>
            </div>
        </form>
    
    </div>
</body>
</html>