{% extends 'template.html.twig' %}

{% block content %}

<form action="autoritetribunal/new" method="post" class="form">
  <div class="form-example">
    <label for="autorite_nom" name="autorite_nom">Nom de l'autorité
    <input type="text" name="autorite_nom" id="name" required></label>
    <input type="submit" value="Envoyer">
</form>

{% endblock %}