{% extends 'template.html.twig' %}

{% block content %}

<form action="defraiement/new" method="post" class="form">
  <div class="form-example">
    <label for="repas" name="repas">Repas</label>
    <input type="checkbox" name="repas" value="1">

    <label for="km_ar" name="km_ar">Kilomètres aller/retour</label> 
    <input type="number" name="km_ar">
    
    <input type="submit" value="Envoyer">
</form>

{% endblock %}