{% extends 'template.html.twig' %}

{% block content %}

<form action="forfaitanimateur/new" method="post" class="form">
  <div class="form-example">
    <label for="forfait" name="forfait">Forfait (€)
    <input type="text" name="forfait" id="name" required></label>
    <input type="submit" value="Envoyer">
</form>

{% endblock %}