<p class="push-right"  ><a href="#" onclick="closeModal(); return false;" >Fermer</a></p>
<h1>Ajout d'une autorité (Préfecture)</h1>
  <form action="autoriteprefecture/new" method="post" class="form form-autorite form-autoriteTribunal-json" >
    <div class="form-group">
        <label for="autorite_nom" class="form-label">Autorité *</label>
        <input type="text" class="form-input capitalize" id="autorite_nom" name="autorite_nom" value="" />
        <p class="form-msg-error hidden" id="msg-autorite_nom" >Veuillez saisir une autorité</p>
    </div>
    <div class="form-login-group">
        <button class="form-login-button">Valider</button>
    </div>
  </form>
  
