<p class="push-right"  ><a href="#" onclick="closeModal(); return false;" >Fermer</a></p>
<h1>Ajout d'une civilité (Divers)</h1>
  <form action="civilite/new" method="post" class="form form-civilite form-civilite-json" >
    <div class="form-group">
        <label for="nom" class="form-label">Civilité *</label>
        <input type="text" class="form-input firstLetterUpper" id="nom" name="nom" value="" />
        <p class="form-msg-error hidden" id="msg-nom" >Veuillez saisir une civilité</p>
    </div>
    <div class="form-login-group">
        <button class="form-login-button">Valider</button>
    </div>
  </form>
  
