<p class="push-right"  ><a href="#" onclick="closeModal(); return false;" >Fermer</a></p>
<h1>Ajout d'une fonction (Animateur)</h1>
  <form action="fonvtionanimateur/new" method="post" class="form form-fonctionAnimateur form-fonctionAnimateur-json" >
    <div class="form-group">
        <label for="fonctionAnimateur_nom" class="form-label">Fonction *</label>
        <input type="text" class="form-input firstLetterUpper" id="fonctionAnimateur_nom" name="fonctionAnimateur_nom" value="" />
        <p class="form-msg-error hidden" id="msg-fonctionAnimateur_nom" >Veuillez saisir une fonction</p>
    </div>
    <div class="form-login-group">
        <button class="form-login-button">Valider</button>
    </div>
  </form>
  
