<p class="push-right"  ><a href="#" onclick="closeModal(); return false;" >Fermer</a></p>
<h1>Ajout d'une nature (Tribunal)</h1>
  <form action="naturetribunal/new" method="post" class="form form-nature form-natureTribunal-json" >
    <div class="form-group">
        <label for="nature_nom" class="form-label">Nature *</label>
        <input type="text" class="form-input capitalize" id="nature_nom" name="nature_nom" value="" />
        <p class="form-msg-error hidden" id="msg-nature_nom" >Veuillez saisir une nature</p>
    </div>
    <div class="form-login-group">
        <button class="form-login-button">Valider</button>
    </div>
  </form>
  
