{% extends 'template.html.twig' %}

{% block content %}

<h1>Ajouter un lieu de stage</h1>


<form action="lieustage/new" method="post" class="form">
  <div class="form-example">
    <label for="lieu_nom" name="lieu_nom">Nom du lieu :
    <input type="text" name="lieu_nom"></label>

    <label for="etablissement_nom" name="etablissement_nom">Nom de l'établissement : 
    <input type="text" name="etablissement_nom"></label>

    <label for="adresse" name="adresse">Adresse :
    <input type="text" name="adresse"></label> 

    <label for="code_postal" name="code_postal">Code postal :
    <input type="text" name="code_postal"></label> 

    <label for="commune" name="commune">Commune :
    <input type="text" name="commune"></label> 

    <label for="tel" name="tel">Téléphone :
    <input type="text" name="tel"></label>

    <label for="latitude" name="latitude">Latitude :
    <input type="text" name="latitude"></label>

    <label for="longitude" name="longitude">Longitude :
    <input type="text" name="longitude"></label>

    <label for="divers" name="divers">Divers :
    <input type="text" name="divers"></label>

    <input type="submit" value="Envoyer">
</form>

{% endblock %}