{% extends 'template.html.twig' %}

{% block content %}
  <h1>Ajout d'une nature ( tribunal )</h1>
  <form action="naturetribunal/new" method="post" class="form form-nature form-natureTribunal-create">
    <div class="form-group">
        <label for="nature_nom" class="form-label">Nature *</label>
        <input type="text" class="form-input capitalize" id="nature_nom" name="nature_nom" value="{% if nature_nom is defined %}{{ nature_nom | raw }}{% endif %}" />
        <p class="form-msg-error 
        {% if error is defined %} 
            {% if error != 'exist' %}
                hidden
            {% endif %}
        {% else %}
            hidden             
        {% endif %}
        " id="msg-nature_nom" >
            {% if nature_nom is defined %} 
                {% if error == 'exist' %} 
                    Veuillez saisir une autre nature car celle que vous venez de saisir existe déjà.
                {% else %}
                    {% if nature_nom == '' %} 
                        Veuillez saisir une nature
                    {% endif %}  
                {% endif %}                
            {% endif %}
        </p>
    </div>
  <div class="form-login-group">
    <button class="form-login-button">Valider</button>
  </div>
  </form>
  <div id="alertUser" >
  </div>
  {% if error is defined %}
          <div class="boxOverlay" >
              <div class="modal fas fa-exclamation-triangle">
                  {%if error == 'exist' %}           
                      <p class="modal-message">La nature éxiste déjà dans la table Nature tribunal.</p> 
                  {% else %}         
                      <p class="modal-message">Merci de saisir les champs signalés par un message d'erreur.</p> 
                  {% endif %}
                  <button type="button" class="modal-btn form-login-button modal-btn-ok" >OK</button>
              </div>
          </div>
      {% endif %}
    {% endblock %}

    {% block javascript %} 
      <script src="assets/js/app.js" ></script>
    {% endblock %}
