{% extends 'template.html.twig' %}

{% block content %}

<form action="servicetribunal/new" method="post" class="form">
  <div class="form-example">
    <label for="service_nom" name="service_nom">Nom du service (tribunal)
    <input type="text" name="service_nom" id="name" required></label>
    <input type="submit" value="Envoyer">
</form>

{% endblock %}