{% extends 'template.html.twig' %}

{% block content %}

<form action="statutanimateur/new" method="post" class="form">
  <div class="form-example">
    <label for="status_nom" name="status_nom">Nom du statut
    <input type="text" name="status_nom" id="name" required></label>
    <input type="submit" value="Envoyer">
</form>

{% endblock %}