{% extends 'template.html.twig' %}

{% block content %}
  <h1>Ajout d'un statut ( animateur )</h1>
  <form action="statutanimateur/new" method="post" class="form form-statut form-statutAnimateur-create">
    <div class="form-group">
        <label for="statut_nom" class="form-label">Statut *</label>
        <input type="text" class="form-input firstLetterUpper" id="statut_nom" name="statut_nom" value="{% if statut_nom is defined %}{{ statut_nom | raw }}{% endif %}" />
        <p class="form-msg-error 
        {% if error is defined %} 
            {% if error != 'exist' %}
                hidden
            {% endif %}
        {% else %}
            hidden             
        {% endif %}
        " id="msg-statut_nom" >
            {% if statut_nom is defined %} 
                {% if error == 'exist' %} 
                    Veuillez saisir un autre statut car celui que vous venez de saisir existe déjà.
                {% else %}
                    {% if statut_nom == '' %} 
                        Veuillez saisir un statut
                    {% endif %}  
                {% endif %}                
            {% endif %}
        </p>
    </div>
  <div class="form-login-group">
    <button class="form-login-button">Valider</button>
  </div>
  </form>
  <div id="alertUser" >
  </div>
  {% if error is defined %}
          <div class="boxOverlay" >
              <div class="modal fas fa-exclamation-triangle">
                  {%if error == 'exist' %}           
                      <p class="modal-message">Le statut existe déjà dans la table Statut animateur.</p> 
                  {% else %}         
                      <p class="modal-message">Merci de saisir les champs signalés par un message d'erreur.</p> 
                  {% endif %}
                  <button type="button" class="modal-btn form-login-button modal-btn-ok" >OK</button>
              </div>
          </div>
      {% endif %}
    {% endblock %}

    {% block javascript %} 
      <script src="assets/js/app.js" ></script>
    {% endblock %}
