<style type="text/css">
    page {
        max-width: 100%;
    }

    table {
        width: 100%;
        color: #013543;
        font-family: helvetica;
        line-height: 5mm;
        border-collapse: collapse;
    }

    img {
        width: 150px;
    }

    h1 {
        text-align: center;
    }

    .space {
        padding-top: 250px;
    }
</style>


<page backtop="5mm" backbottom="5mm" backright="6mm" backleft="6mm">
    <table style="vertical-align:middle;">
        <tr>
            <td style="width:70%;">
                <img src="assets/media/images/logo.png" />
            </td>
            <td style="width:30%;">
                Besançon, le  {{ "now"|date("d/m/Y")}}
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:65%"></td>
            <td style="width:35%; text-align:left;">
                $genre $prénom $nom
                <br> $adresse
                <br> $code postal $commune
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="padding-top:60px;">
                Objet : Convocation à un stage de sécurité Routière.
            </td>
        </tr>
        <tr>
            <td style="padding-top:30px;">
                $genre ,
            </td>
        </tr>
        <tr>
            <td style="padding-top:30px;">
                Vous vous êtes inscrit au stage, cité en objet, qui se déroulera du [$jour/$mois/$année] au [$jour/$mois/$année] à l'adresse
                suivant [$adresse lieu stage].
                <br> Vous trouverez en pièce jointe, les renseignements pratiques ayant trait à son déroulement.
            </td>
        </tr>
        <tr>
            <td style="padding-top:20px;">
                Ce stage a pour objectif de vous permettre de mieux appréhender comportements liés à la conduite automobile par une information,
                une réflexion individuelle et collective portant sur:
            </td>
        </tr>
        <tr>
            <td style="padding-top:12px;padding-left:40px">
                -> l’accidentologie routière dans l’hexagone,
                <br> -> les facteurs majeurs d'accidents,
                <br> -> les comportements, les conséquences possibles, la prise de risque, les idées reçues.
            </td>
        </tr>
        <tr>
            <td style="padding-top:12px;">
                A l'issue de ces deux journées, vous recevrez une attestation vous permettant de répondre aux impératifs légaux.
            </td>
        </tr>
        <tr>
            <td style="padding-top:12px;">
                Nous restons à votre disposition pour répondre aux questions que ce courrier pourrait générer.
            </td>
        </tr>
        <tr>
            <td style="padding-top:12px;">
                Veuillez agréer, [$Genre], l'expression de nos sentiments distingués.
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:70%;padding-top:100px;"></td>
            <td style="width:30%;padding-top:100px;">
            George WARNIER <br>
            Président de l'AFER
            </td>
        </tr>
        <tr>
            <td style="width:70%;padding-top:10px;"></td>
            <td style="width:30%;padding-top:10px;">
            <img src="assets/media/images/signature-président.png">
            </td>
        </tr>
    </table>

    <table style="margin-top:90px;text-align:center;">
        <tr>
            <td style="width:100%;">
            Association Franc-comtoise d’Education Routière – 7 Square Saint Amour 25000 Besançon<br>
            Tél : 06 24 18 32 41 – Courriel : afer.wnr@gmail.com<br>
            N° de SIRET : 820 306 165 00011<br>
            www.afer-besancon.fr

            </td>
        </tr>
    </table>

</page>