<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="http://localhost:8080/">

    <link rel="stylesheet" href="assets/css/main.css">

    <title>AFER - Dashboard</title>

</head>

<body>
    <span class="bckg"></span>
    <header>
        <a href="dashboard/view">
            <h1>AFER</h1>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="#" class="bouton-bigmenu" data-title="A la une">A la une</a>
                </li>
                <li>
                    <a href="#" class="bouton-bigmenu" data-title="Stages">Stages</a>
                </li>
                <li>
                    <a href="#" class="bouton-bigmenu" data-title="Stagiaire">Stagiaires</a>
                </li>
                <li>
                    <a href="animateur/list" class="bouton-bigmenu" data-title="Animateurs">Animateurs</a>
                </li>
                <li>
                    <a href="tribunal/list" class="bouton-bigmenu" data-title="Préfectures">Tribunaux</a>
                </li>
                <li>
                    <a href="prefecture/list" class="bouton-bigmenu" data-title="Préfectures">Préfectures</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="bouton-bigmenu small-entities" data-title="Réglages">Réglages
                        <span class="fleche-jaune entypo-down-open "></span>
                    </a>
                    <div class="list-small-entities">
                        <ul>
                            <li class="cat-entities">Animateur</li>
                            <ul class="entities ">
                                <li>
                                    <a href="statutanimateur/list" class="bouton-smallmenu">Statut</a>
                                </li>
                                <li>
                                    <a href="fonctionanimateur/list" class="bouton-smallmenu">Fonction</a>
                                </li>
                            </ul>
                            <li class="cat-entities">
                                Tribunal
                            </li>
                            <ul class="entities ">
                                <li>
                                    <a href="autoritetribunal/list" class="bouton-smallmenu">Autorité</a>
                                </li>
                                <li>
                                    <a href="naturetribunal/list" class="bouton-smallmenu">Nature</a>
                                </li>
                                <li>
                                    <a href="servicetribunal/list" class="bouton-smallmenu">Service</a>
                                </li>
                            </ul>
                            <li class="cat-entities">
                                Préfecture
                            </li>
                            <ul class="entities">
                                <li>
                                    <a href="autoriteprefecture/list" class="bouton-smallmenu">Autorité</a>
                                </li>
                                <li>
                                    <a href="serviceprefecture/list" class="bouton-smallmenu">Service</a>
                                </li>
                            </ul>

                        </ul>
                    </div>
                </li>
                <li>
                    <a href="users/view " class="bouton-bigmenu" data-title="Utilisateurs ">Utilisateurs</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title ">
            <h2>Outil de gestion</h2>
            <a class="hello-user" href="users/edit/{{user.id}}">Hello {{user.fullName}} !</a>
            <a href="login/logout">
                <img class="exit-action" alt="se déconnecter" title="se déconnecter" src="assets/media/flaticons/exit.png" width="35" height="35">
            </a>
        </div>
        <section>
            {% block content %} {% endblock %}
        </section>
    </main>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js " integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin=" anonymous "></script>
    <script src="assets/js/dashboard.js "></script>
    <script src="assets/js/lieuStage.js"></script>
    <script src="assets/js/animateur.js"></script>
    <script src="assets/js/stagiaire.js"></script>
    {% block javascript %} {% endblock %}
</body>

</html>