<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="http://localhost/afer-back/">

    <link rel="stylesheet" href="assets/css/main.css">

    <title>AFER - Dashboard</title>

</head>

<body>
    <span class="bckg"></span>
    <header>
        <a href="dashboard/view">
            <h1>AFER</h1>
        </a>
        <nav>
            <ul class="menu-buttons">
                <li>
                    <a href="dashboard/view" data-title="A la une">A la une</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-title="Stages">Stages</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-title="Stagiaire">Stagiaires</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-title="Animateurs">Animateurs</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="small-entities" data-title="Réglages">Réglages
                        <span class="entypo-down-open fleche-jaune"></span>
                    </a>
                    <div class="list-small-entities">
                        <ul>
                            <li class="cat-entities">Animateur</li>
                            <ul class="entities">
                                <li>Statut</li>
                                <li>Fonction</li>
                                <li>Forfait</li>
                            </ul>
                            <li class="cat-entities">Tribunal</li>
                            <ul class="entities">
                                <li>Autorité</li>
                                <li>Nature</li>
                                <li>Service</li>
                            </ul>
                            <li class="cat-entities">Préfecture</li>
                            <ul class="entities">
                                <li>Autorité</li>
                                <li>Nature</li>
                                <li>Service</li>
                            </ul>

                        </ul>
                    </div>
                </li>
                <li>
                    <a href="dashboard/view" data-title="Admins">Admins</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h2>Outil de gestion</h2>
            <a href="javascript:void(0);">Hello {{user}} !</a>
        </div>

        <section>
            {% block content %} {% endblock %}
        </section>
    </main>



    {% block javascript %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="assets/js/dashboard.js"></script>
</body>

</html>