<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="http://localhost/afer-back/">

    <link rel="stylesheet" href="assets/css/main.css">

    <title>AFER - Dashboard</title>

</head>

<body>
    <span class="bckg"></span>
    <header>
        <a href="dashboard/view">
            <h1>AFER</h1>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="dashboard/view" data-title="A la une">A la une</a>
                </li>
                <li>
                    <a href="dashboard/view" data-title="Stages">Stages</a>
                </li>
                <li>
                    <a href="dashboard/view" data-title="Stagiaire">Stagiaires</a>
                </li>
                <li>
                    <a href="dashboard/view" data-title="Animateurs">Animateurs</a>
                </li>
                <li>
                    <a href="dashboard/view" data-title="Réglages">Réglages</a>
                </li>
                <li>
                    <a href="users/view" data-title="Utilisateurs">Utilisateurs</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h2>Outil de gestion</h2>
            <a href="users/edit/{{user.id}}">Hello {{user.fullName}} !</a>
        </div>

        <section>
            {% block content %} {% endblock %}
        </section>
    </main>



    {% block javascript %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="assets/js/dashboard.js"></script>
</body>

</html>