html, .login, .content{
    width : 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.content{

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login-group{
    padding : 10px 15px;
}

